@page "/visualization"
@using ForStock.Client.ViewModels
@inject IVisualizationViewModel _visualizationViewModel
@* model이 set되지 않았는데 부르려다보니까 error가 계속 터졌던 것임. Not an object... load가 끝나면, 또는 null이 아니면 실행되게끔 변경해야함. *@
<div class="container">
  <div class="row">
    <div class="col-sm">
      @if (@_visualizationViewModel.QuarterPerformance.DataSets != null)
      {
        <h4>@_visualizationViewModel.QuarterPerformance.Subject</h4>
        @* 현재 ChartParameter를 이용해서 parameter를 넘길 수 있는것까지 확인했다. 다음으로, ChartParameter를 이용해서 어떻게 mixed chart를 만들 수 있는지 확인해야함. *@
        <Chart Id="_visualizationViewModel.QuarterPerformance.Id" Type="@Chart.ChartType.Bar" Labels="_visualizationViewModel.QuarterPerformance.Xvalues"
          DataSets="_visualizationViewModel.QuarterPerformance.DataSets">
        </Chart>
      }
    </div>
    <div class="col-sm">
      @if (@_visualizationViewModel.QuarterPerformance.DataSets != null)
      {
        <h4>@_visualizationViewModel.QuarterPerformance.Subject</h4>
          <Chart Id="something" Type="@Chart.ChartType.Bar" Labels="_visualizationViewModel.QuarterPerformance.Xvalues"
          DataSets="_visualizationViewModel.QuarterPerformance.DataSets">
        </Chart>
      }
    </div>
  </div>
</div>

@code{
  protected override async Task OnInitializedAsync()
  {
    await _visualizationViewModel.Init();

    await base.OnInitializedAsync();
  }
}